/* Common styles for all resolutions */

.container {
  margin-top: 74px;
  height: calc(100vh - 74px);
  width: 100%;
  position: relative;
}

#random_topic_generator {
  width: 70%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#random_topic_generator input::placeholder {
  font-size: 12px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
  margin-right: 10px;
  transition: background-color 0.3s;
  align-self: center;
}

button:hover {
  background-color: #45a049;
}

#random_topic {
  font-size: 14px;
  width: 40%;
  max-width: 50%;
  text-align: center;
  justify-content: end;
  align-self: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #312e2e;
}

#members__container {
  background-color: #262625;
  border-right: 1px solid #797a79;
  overflow-y: auto;
  width: 90%;
  max-width: 250px;
  position: fixed;
  height: 100%;
  z-index: 999;
}

#members__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  font-size: 18px;
  background-color: #323143;
  width: 218px;
}

/* Media Queries for Responsive Design */

/* Tablets and larger */
@media (min-width: 768px) {
  #stream__container {
    width: calc(100% - 25rem);
    left: 0;
  }

  #random_topic_generator {
    width: 50%;
  }

  #random_topic {
    width: 50%;
  }

  #message__form {
    width: 18.2rem;
  }

  #messages__container {
    max-width: 20rem;
  }
}

/* Desktops and larger */
@media (min-width: 980px) {
  #stream__container {
    width: calc(100% - 20rem);
    left: 0;
  }
}

/* Large Desktops and larger */
@media (min-width: 1200px) {
  #members__container {
    display: block;
  }

  #stream__container {
    width: calc(100% - 40.7rem);
    left: 15.7rem;
  }

  #random_topic_generator {
    width: 70%;
  }
}

/* Extra-large Desktops and larger */
@media (min-width: 1400px) {
  #random_topic_generator {
    width: 80%;
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  #stream__container {
    width: 100%;
  }

  #messages__container {
    display: none;
  }

  #chat__button {
    display: block;
  }
}

/* Extra-small Mobile devices */
@media (max-width: 480px) {
  #random_topic_generator {
    flex-direction: column;
  }

  #random_topic_generator input {
    margin-bottom: 10px;
  }

  #random_topic {
    width: 100%;
  }

  #message__form {
    width: 100%;
  }

  #members__container {
    display: none;
  }

  #members__button {
    display: block;
  }
}
